*__pycache__*
.idea/
Cache/
Data/*
!Data/Email-Enron.mat
!Data/test.mtx
Example_Code/
Papers/
Results/*
!Results/empty
Plots/*
!Plots/empty
!Plots/Error_Iterations
Plots/Error_Iterations/*
!Plots/Error_Iterations/empty
Perm_Results/
Presentations/
*.pyc
notes.txt
