*__pycache__*
.idea/
Cache/
Data/*
!Data/Email-Enron.mat
!Data/test.mtx
!Data/test1000.mtx
Example_Code/
Papers/
Results/*
!Results/empty
Plots/*
!Plots/empty
!Plots/Error_Iterations
Plots/Error_Iterations/*
!Plots/Error_Iterations/empty
!Plots/Incorrect_Alphas
Plots/Incorrect_Alphas/*
!Plots/Incorrect_Alphas/empty
Perm_Results/
Presentations/
*.pyc
notes.txt
